
/*Tiny bootstraps xs*/
@media (min-width: 0px) {
:root {
  --main-font-size: 10px;
  --main-font-color: white;
  --desc-font-size: 10px;
}
a.nav-link{position: relative; display: block;}
.my_cv_container{position: relative;}
.my_cv_header_container{position: relative;}
.my_transparent_container{position: relative;}
.my_cv_header_container_row{}
.cv_img{visibility: hidden; position: fixed;}

#navbar{position: fixed; top: 0px; height: 50px; width: 100%; z-index: 2}
#skip_absolute_header{ padding-top: 50px;}
body::after { top: 50px;}
#navcol{position: fixed; top: 55px; left: 0px; z-index: 1; visibility: collapse;}
#searchForm{position: fixed; padding-left: 10%; width: 70%; height: 25px; top: 10px;}
#postSearchInput{height: 16px;  font-size: 12px}
#cv_static_image{position: fixed;  width: 30px;  height: 30px; top: 5px; left: 85%;}
#cv_image{position: fixed;  width: 30px;  height: 30px; top: 5px; left: 5%;}
#the_body{ position: relative; top: 0px; left: 20%; width: 70%; z-index: 0}
body::after { bottom: -30px;}
#empty_scroll { padding-bottom: 40px;}
div section { padding-top: 30px;}
.ColOffClass {visibility: hidden;}
#navform{position: relative; width: 90%;  }
#iframe_routed{position: relative; width: 100%; height: 90vh; padding-bottom: 0px}
}

/* Small bootstraps sm*/
@media (min-width: 576px) {
  :root {
    --main-font-size: 12px;
    --desc-font-size: 12px;
  }
.my_cv_container{}
.my_cv_header_container{}
.my_transparent_container{}
.my_cv_header_container_row{}
#navbar{height: 90px}
#skip_absolute_header{ padding-top: 90px;}
body::after {}
#navcol{}
#searchForm{padding-left: 17%; width: 80%; height: 120px; top: 0px; padding-top: 15px;}
#postSearchInput{height: 50px;  font-size: 20px; padding-top: 0px; top: 0;}
#cv_static_image{width: 70px;  height: 70px; top: 10px; left: 88%;}
#cv_image{width: 70px;  height: 70px; top: 10px; left: 2%;}
#navcol{ top: 95px; width: 20%}
#the_body{top: 0px}
body::after { bottom: -90px;}
#empty_scroll { padding-bottom: 95px;}
div section { padding-top: 90px;}
}
/* Medium devices (tablets, 768px and up) bootstraps md*/
@media (min-width: 768px) {
:root {
    --main-font-size: 14px;
    --desc-font-size: 14px;
  }
.my_cv_container{}
.my_transparent_container{}
.my_cv_header_container_row{}
#navbar{ height: 100px}
#skip_absolute_header{ padding-top: 100px;}
body::after { top: 100px;}
#navcol{ top: 105px; font-size: 10px; }
#searchForm{padding-left: 18%; height: 120px; padding-top: 20px;}
#postSearchInput{height: 50px;  font-size: 20px}
#cv_static_image{width: 90px;  height: 90px; top: 0px; left: 90%;}
#cv_image{width: 90px;  height: 90px; top: 0px; left: 3%;}
#the_body{  }
body::after {  bottom: -100px;}
#empty_scroll { padding-bottom: 350px;}
div section { padding-top: 100px;}
.ColOffClass {visibility: visible;}
#iframe_routed{left:5%; width: 90%; height: 90vh};
}

/* Large devices (desktops, 992px and up) bootstraps lg*/
@media (min-width: 992px) {
  :root {
    --main-font-size: 17px;
    --desc-font-size: 16px;
  }
a.nav-link{padding: 10px 15px; width: 120%; left: -23%;}
.my_transparent_container{left: 9%; width: 88%;}
.my_cv_container{left: 15%; width: 78%;}
.my_cv_header_container{left: 15%;}
.my_cv_header_container_row{width: 80%;}
.cv_img{visibility: visible; position: relative;}
#navbar{}
#skip_absolute_header{}
#navcol{visibility: visible; width: 20%;}
#cv_static_image{width: 110px;  height: 110px; top: -10px}
#cv_image{width: 110px;  height: 110px; top: -10px}
#the_body{ top: 0px }
body::after { bottom: -100px;}
#empty_scroll { padding-bottom: 450px;}
div section { padding-top: 100px;}

}
/* Extra large devices (large desktops, 1200px and up) bootstraps xl*/
@media (min-width: 1200px) {
:root {
  --main-font-size: 22px;
  --desc-font-size: 19px;
}
a.nav-link{width: 150%; left: -18%;}
.my_transparent_container{left: 8%; width: 88%;}
.my_cv_container{left: 15%; width: 78%;}
.my_cv_header_container{left: 15%;}
.my_cv_header_container_row{width: 80%;}
#navbar{}
#cvmainbody{
    width: 70%;
    transform: translate(30%, 0%);
  }
#skip_absolute_header{}
body::after { top: 100px;}
#navcol{ top: 105px; width: 15%;}
#the_body{ top: 0px }
body::after { bottom: -100px;}
#empty_scroll { padding-bottom: 600px;}
div section { padding-top: 100px;}}

.ColOffClass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.my_cv_container  .row > [class^="Col"] {
  padding-right: 0;
  padding-left: 0;
}

.my_cv_container  .row a{
    /* color: #111111; */
    font-size: var(--desc-font-size);
}
.my_cv_container {
  font-size: var(--desc-font-size);
  color: rgb(0,0,0);
  background-color: rgba(228,235,244,.85);
  /* background-image: url(../pics/paper.jpg); */
  /* background-size: cover; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  text-justify: auto;
  background-position: center center;
  background-image: url(../pics/spiral.png);
  background-size: contain;
  background-repeat: repeat;
  background-blend-mode:hue;
}

hr.my_cv_header {

    border-color: rgba(75,172,216,1);
}
h1.my_cv_header, h2.my_cv_header {
  font-weight: 700;
  color: black;
  text-indent: 5px;
  background-color: #4cadd9;
  background-image: url(../pics/ray.png);
  background-size: cover;
  background-repeat: repeat;
  background-blend-mode:darken;
}



p {
    text-indent: 30px;
}

a.nav-link{
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  background-color: #4cadd9;
  background-image: url(../pics/ray.png);
  background-size: cover;
  background-repeat: repeat;
  background-blend-mode:darken;


}
/*rgba(83,192,240,0.8);*/
a.nav-link:hover {
    color: var(--main-font-color);
    background-color: rgba(185,229,243,1);
    background-image: none;
}
a.nav-link:focus {
    color: var(--main-font-color);
    background-color: rgba(185,229,243,1);
    background-image: none;
}

 a.active.nav-link {
    color:var(--main-font-color);
    background-color: rgb(212,175,55);
    background-image: url(../pics/guilloche.svg);
    background-position: center right;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode:darken;
}

body {
  position: relative;
}

body::after {
    position:absolute;
    content: "";
    background-image: url('../pics/escher_cropped_small.jpg');
    opacity: 0.30;
    filter: alpha(opacity=30);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /*background-position: 65%;*/
    background-repeat:no-repeat;
    background-size:cover;
    left: 0;
    /*  bottom: -100px; in media part */
    right: 0;

    z-index: -1;
}
.background-tint {
  background-color: rgba(218,215,254,.6);
  background-blend-mode: add;
}


#navbar{
        background-image: url(../pics/penrose3.png);
        background-repeat: no-repeat;
        background-origin:content-box;
        background-size:contain;
        background-color: rgba(76,173,217,1);
        opacity: 1.0;
        filter: alpha(opacity=1);
        }

        #navbar{

            background-image: url(../pics/hr.png);
            background-size: contain;
            background-repeat: repeat;
          background-blend-mode:overlay;}


.my_postlist_container{
          font-size: var(--main-font-size);
          border-color: black;
          border-width: thick;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-right: 1%;
          padding-left: 1%;
          text-align: justify;
          text-justify: auto;
          background-color: rgba(76,173,217,1);
          background-position: bottom center;
          background-image: url(../pics/impossible.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-blend-mode:soft-light;
                }
.my_postlist_group{
  width: 100%;

}

.my_postlist_item{
    color: white;
    border: none;
    text-align: center;
    background-color: rgba(90,199,249,0.5);
    background-image: url(../pics/spiral.png);
    background-size: contain;
    background-repeat: repeat;
    background-blend-mode:soft-light;
}
.my_postlist_text{
    position: relative;
    font-size: 16px;

}
.my_postlist_head{
    position: relative;
    font-size: 18px;

}
/* .my_postlist_item:focus {
    color: var(--main-font-color);;
    background-color: rgb(212,175,55);
    background-image: url(../pics/guilloche.svg);
    background-position: center right;
    background-size:contain;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
} */
.my_postlist_item:hover {
    color: rgb(252,215,95);
    background-color: rgba(40,129,190,0.6);


}

.my_postlist_item.active {
  color: var(--main-font-color);;
  background-color: rgb(212,175,55);
  background-image: url(../pics/guilloche.svg);
  background-position: center right;
  background-size:contain;
  background-repeat: no-repeat;
  background-blend-mode:soft-light;
}

#empty_page{
    background-color: rgba(90,199,249);
    background-image: none;}

#empty_scroll_postlist { padding-bottom: 60vh;}
