.container .row {
  margin-bottom: 1rem;
}

.container .row > [class^="col"] {
  padding-right: 0;
  padding-left: 0;
}

.box {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #e5edf5;
  border: 1px solid #c9c1d5;
  color: #5f5f5f;
  width: 100%;
}


.container {
    font-size: 20px;
    color: #111111;
}

.container .row a{
    /* color: #111111; */
    font-size: 20px;
}
.container {
  background-color: rgba(228,235,244,.6);
  background-blend-mode: add;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 2%;
  padding-left: 2%;
  text-align: justify;
  text-justify: auto;
}

body {
  position: relative;
}


body::after {
    content: "";
    background-image: url('cv/mebg2.png');
    opacity: 0.20;
    filter: alpha(opacity=20);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  /*    background-position: 65%; */
    background-repeat: no-repeat;
    background-size: cover;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.background-tint {
  background-color: rgba(228,235,244,.8);
  background-blend-mode: multiply;
}
